<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185985205943-omq71lhfvm16pd2d3pkrc5tde8c92707.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185985205943-omq71lhfvm16pd2d3pkrc5tde8c92707</string>
	<key>API_KEY</key>
	<string>AIzaSyA98_FcXd0-c1ovlekfdC6ETF2wUIVfUQ0</string>
	<key>GCM_SENDER_ID</key>
	<string>185985205943</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.eread</string>
	<key>PROJECT_ID</key>
	<string>library-e77a8</string>
	<key>STORAGE_BUCKET</key>
	<string>library-e77a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185985205943:ios:b5f30367001c3288006f32</string>
</dict>
</plist>